<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="bth btn-link">Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>17.03.2021</small>
  </div>

  <hr>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, delectus explicabo, minima odio praesentium quas rem tempore, unde veritatis voluptas voluptatem voluptatibus. Aperiam distinctio eos impedit iste minus rerum saepe, sed temporibus. Corporis eaque eos in natus nisi pariatur porro qui quidem suscipit temporibus? Blanditiis dolores inventore sunt totam voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, delectus explicabo, minima odio praesentium quas rem tempore, unde veritatis voluptas voluptatem voluptatibus. Aperiam distinctio eos impedit iste minus rerum saepe, sed temporibus. Corporis eaque eos in natus nisi pariatur porro qui quidem suscipit temporibus? Blanditiis dolores inventore sunt totam voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, delectus explicabo, minima odio praesentium quas rem tempore, unde veritatis voluptas voluptatem voluptatibus. Aperiam distinctio eos impedit iste minus rerum saepe, sed temporibus. Corporis eaque eos in natus nisi pariatur porro qui quidem suscipit temporibus? Blanditiis dolores inventore sunt totam voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, delectus explicabo, minima odio praesentium quas rem tempore, unde veritatis voluptas voluptatem voluptatibus. Aperiam distinctio eos impedit iste minus rerum saepe, sed temporibus. Corporis eaque eos in natus nisi pariatur porro qui quidem suscipit temporibus? Blanditiis dolores inventore sunt totam voluptates?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, delectus explicabo, minima odio praesentium quas rem tempore, unde veritatis voluptas voluptatem voluptatibus. Aperiam distinctio eos impedit iste minus rerum saepe, sed temporibus. Corporis eaque eos in natus nisi pariatur porro qui quidem suscipit temporibus? Blanditiis dolores inventore sunt totam voluptates?</p>
  </div>
</div>
